body{
    margin: 0;
    background-color: #f6fffe;
}

#main{
    width: 75vh;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
}

#nameDesignation{
    height: 18vh;
    text-align: center;
}

#content{
    display: flex;
}
#contentLeft{
    width: 32vh;
    min-height: 78vh;
    background-color:  #f4ebe9;
    display: flex;
    flex-direction: column;
}
/* #contentRight{
    width: 42vh;
} */

.icons{
    width: .875rem;
}

.contactDetails{
    display: flex;
}

.experienceDetails ul, .personalProjects ul{
    margin: 0;
    padding-right: 0;
}

#keywords{
    font-size: 0.4rem;
    color: #cccccc;
    margin-top: auto;
}
