body{
    margin: 0;
    background-color: #f4ebe9;
}

#main{
    width: 100vh;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
}

#nameDesignation{
    height: 18vh;
    text-align: center;
}

#content{
    display: flex;
}
#contentLeft{
    width: 30vh;
    min-height: 100vh;
    background-color:  #f6fffe;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
/* #contentRight{
    width: 40vh;
} */

.icons{
    width: .875rem;
}

.contactDetails{
    display: flex;
}

.experienceDetails ul, .personalProjects ul{
    margin: 0;
    padding-right: 0;
}

#keywords{
    font-size: 0.4rem;
    color: #cccccc;
    margin-top: auto;
}

.company, .projectDetails{
    display: flex;
    justify-content: space-between;
}
