body{
    margin: 0;
}

#resultMain{
    display: none;
}

#closeDetails{
    display: flex;
    /* align-items: flex-end; */
    justify-content: end;
}

#resultDetailsContainer{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.322);
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#resultDetails{
    width: 90vw;
    height: 90vh;
    background-color: white;
    overflow-y: scroll;
}

#form, #resultMain{
    width: 70vw;
    margin: 0 auto;
    /* height: 100vh; */
    /* display: flex;
    justify-content: center; */
}

/* #form{
    flex-basis: 70%;
} */

#findPrimesContainer{
    display: flex;
    justify-content: center;
}

#inputContainer{
    display: flex;
    justify-content: space-around;
}

